.dashboard {
    display: grid;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 40px;
}

.dashboard-profile {
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}

.profile-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: white;
    padding: 25px;
}

.pic {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #5a5554;
}

.box {
    border: 2px solid black; 
    border-radius: 10px;
    width: 90%;
    padding: 20px; 
    margin: 10px;
    background-color: white; /* Set background color to white */
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.upload-btn {
    margin-left: auto;
}

.upload-btn button {
    background-color: #f04800;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn button:hover {
    background-color: #2c3e50;
}

.info {
    padding: 17px;
}

.title {
    font-size: 13px;
}

.text-value {
    font-weight: 7px;
    font-size: 20px;
    margin-bottom: 10px;
}

.name-style {
    color: #3f24c2;
    font-size: 25px;
}

.customers {
    height: 100%;
    width: 95.5%;
    align-items: center;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;  
    margin-top: 20px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2);
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #333;
}

.customer-table th,
.customer-table td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.customer-table th {
    background-color: #222;
    color: white;
    font-weight: bold;
}

/* Add a raised effect to table rows on hover */
.customer-table tbody tr:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 10000;
}


.customer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    
}

@media (max-width: 768px) {
    .dashboard-profile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column: span 2;                    
    }

    .dashboard {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        border: 2px solid black; 
        border-radius: 10px; 
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
    }

    .customers {
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;  
        margin-top: 20px;
    }

    .customer-table th:nth-child(2),
    .customer-table td:nth-child(2) {
        display: none;
    }
}
